.pricing-wrap {
	display: flex;
	//margin: 0 -15px;
	align-items: flex-start;
	.tm-pricing {
		flex: 1 1 auto;
	}
}

.tm-pricing {
	z-index: 2;
	&.style-1 {
		margin-bottom: 30px;
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			padding: 58px 34px 80px;
			background-color: #fff;
			border: 1px solid #eee;
			&:hover {
				box-shadow: 0 0 50px rgba(0, 0, 0, .08);
			}
		}
		.tm-pricing-header {
			margin-bottom: 25px;
			padding-bottom: 20px;
			text-align: center;
		}
		.price-wrap {
			border-bottom: 1px solid #eee;
			padding-bottom: 26px;
			margin-bottom: 28px;
		}
		.price {
			font-size: 60px;
			font-weight: 500;
		}
		.period {
			font-size: 18px;
			font-weight: 500;
		}
		.tm-pricing-rating {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-width: 0 79px 74px 0;
			border-style: solid;
			border-color: transparent;
			border-right-color: #ffbf00;
			i {
				position: absolute;
				top: 12px;
				left: 50px;
				color: #fff;
				font-size: 16px;
			}
		}
		.image {
			margin-bottom: 30px;
			text-align: center;
		}
		.title {
			font-size: 24px;
		}
		.description {
			font-size: 13px;
		}
		.tm-pricing-list {
			margin: 0;
			padding: 0;
			li {
				position: relative;
				display: block;
				padding: 6px 0;
				list-style-type: none;
				i {
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}
		.tm-pricing-content {
			padding: 0 15px;
		}
		.tm-pricing-footer {
			padding-top: 40px;
			text-align: center;
		}
		.tm-pricing-button {
			min-width: 190px;
			max-width: 100%;
		}
	}
	&.style-2 {
		margin-top: 33px;
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			padding: 28px 34px 54px;
			//max-width: 370px;
			background-color: #f7f7f7;
			border: 1px solid #eee;
			&:hover {
				box-shadow: 0 0 50px rgba(0, 0, 0, .08);
			}
		}
		.tm-pricing-header {
			margin-bottom: 25px;
			padding-bottom: 20px;
			text-align: center;
		}
		.price-wrap {
			border-bottom: 1px solid #eee;
			padding-bottom: 12px;
			margin-bottom: 28px;
		}
		.price {
			font-size: 60px;
			font-weight: 500;
		}
		.period {
			font-size: 18px;
			font-weight: 500;
		}
		.tm-pricing-rating {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-width: 0 79px 74px 0;
			border-style: solid;
			border-color: transparent;
			border-right-color: #ffbf00;
			i {
				position: absolute;
				top: 12px;
				left: 50px;
				color: #fff;
				font-size: 16px;
			}
		}
		.image {
			margin-bottom: 30px;
			text-align: center;
		}
		.title {
			font-size: 24px;
		}
		.description {
			font-size: 13px;
		}
		.tm-pricing-list {
			margin: 0;
			padding: 0;
			li {
				position: relative;
				display: block;
				padding: 6px 0;
				list-style-type: none;
				i {
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}
		.tm-pricing-content {
			padding: 0 15px;
		}
		.tm-pricing-footer {
			padding-top: 40px;
			text-align: center;
		}
		.tm-pricing-button {
			min-width: 190px;
			max-width: 100%;
		}
	}
	&.style-3 {
		margin-bottom: 30px;
		.inner {
			transition: all .7s cubic-bezier(0, 0, .2, 1);
			position: relative;
			margin: 0 auto;
			padding: 41px 30px 45px;
			background-color: #fff;
			border-radius: 5px;
			&:hover {
				box-shadow: 0 0 50px rgba(0, 0, 0, .08);
				transform: translateY(-30px);
			}
		}
		.tm-pricing-header {
			margin-bottom: 30px;
			text-align: center;
		}
		.price {
			font-size: 30px;
			font-weight: 600;
		}
		.period {
			font-size: 18px;
			font-weight: 500;
		}
		.image {
			margin-bottom: 30px;
			text-align: center;
		}
		.title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.25;
			margin-bottom: 9px;
		}
		.description {
			font-size: 13px;
		}
		.tm-pricing-list {
			margin: 0;
			padding: 0;
			font-size: 14px;
			li {
				position: relative;
				display: block;
				padding: 8px 0;
				list-style-type: none;
				i {
					font-size: 12px;
					margin-right: 5px;
				}
			}
		}

		.tm-pricing-footer {
			padding-top: 36px;
			text-align: center;
		}

		.tm-pricing-button {
			min-width: 160px;
			height: 50px;
			line-height: 46px;
			border: 2px solid #eee;
			color: #222;
			background: #fff;
			max-width: 100%;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 1.85px;

			&:hover {
				background: #eee;
			}
		}

		&.tm-pricing-featured {
			color: #fff;

			.title {
				color: #fff;
			}

			.price {
				color: #fff;
			}

			.tm-pricing-list {
				li {
					i {
						color: #fff;
					}
				}
			}

			.tm-pricing-button {
				border-color: #fff;

				&:hover {
					border-color: #eee;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.pricing-wrap {
		flex-wrap: wrap;
		.tm-pricing {
			width: 100%;
			max-width: 100%;
		}
	}
}
